* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}
::selection {
  background: #3266d0;
  color: #ffffff;
}
.container-flud {
  padding: 0rem 2rem;
}
.container-lg{
    max-width: 160rem;
    padding: 0rem 3rem;
    margin: 0 auto;
}
.container{
    max-width: 130rem;
    padding: 0rem 3rem;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: warp;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
select,
i{
  cursor: pointer;
}
.py-1{
  padding: 4rem 0;
}
.py-2{
  padding: 2rem 0;
}
.py-2{
 padding: .5rem;
}
.py-3{
 padding: 0rem 1rem;
}
.me-1{
  margin: 3rem 0;
}
.me-2{
   margin-right: 1rem;
}
.me-3{
   margin-bottom: 2rem;
}
.margin{
  margin: 0;
}
.border-bottom{
  border-bottom: 1px solid #f7f7f7;
}
.col-log-8{
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-log-12{
  flex: 0 0 auto;
  width: 12.3333333%;
}
.col-log-16{
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-log-20{
  flex: 0 0 auto;
  width: 20%;
}
.col-log-25{
  flex: 0 0 auto;
  width: 25%;
}
.col-log-33{
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-log-41{
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-log-50{
  flex: 0 0 auto;
  width: 50%;
}
.col-log-58{
  flex: 0 0 auto;
  width: 57.33333333%;
}
.col-log-75{
  flex: 0 0 auto;
  width: 75.33333333%;
}
.col-log-100{
  flex: 0 0 auto;
  width: 100%;
  padding: 0rem 1rem;
}
.col{
  flex: 1 0 0%;
  align-items: center;
}
.col-auto{
  flex: 0 0 auto;
  width: auto;
  padding: 0rem 1rem;
}
.de-flex{
  display: flex;
  flex-wrap: wrap;
}
.text-aling{
  text-align: center;
}
.align-item{
  display: flex;
  align-items: center;
}
.justify-cntent-center{
  justify-content: center;
}
.justify-cntent-space{
  justify-content: space-between;
}
.justify-cntent-end{
  justify-content: flex-end;
}
.gap-01{
  gap: 3rem;
}
.gap-02{
  gap: 1rem;
}
.gap-03{
  gap: .5rem;
}
.gap-04{
  gap: 2rem;
}
.fy-y{
  padding: 5rem 0;
}
.btn-view {
    background-color: #6BB252;
    color: #f7f7f7;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    border-radius: .6rem;
    transition: all .3s;
}
.btn-view:hover {
   background-color:#f7a422 ;
}
.rounded-circle{
  border-radius: 50% !important;
}