/* *********** */
/* HEADER SECTION */
/* *********** */
.header-div{
   gap: 2rem;
}
.btn-toggle{
    background-color: transparent;
    border: none;
}
.btn-toggle i{
    font-size: 2.2rem;
}
.search-bar{
    opacity: 1;
    background-color: rgba(248, 248, 248);
    border-radius: 2rem;
    padding: 1rem;
}
.from-select{
    padding: .375rem 2.25rem .375rem .75rem;
    border: none;
    outline: none;
    background: transparent;
    color: #747474;
    font-size: 1.6rem;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.from-select:focus{
    border-color: #3b82f6 ;
    outline: 0;
    box-shadow: 0 0 0 0.5rem rgba(189, 214, 249, 0.5);
}
.header-form{
    width: 100%;
}
.form-control{
    width: 100%;
    display: block;
    color: #747474;
    font-size: 1.6rem;
    padding: .5rem .9rem;
    background-color: transparent;
    border: none;
    outline: 0;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus{
    border-color: #3b82f6;
    outline: 0;
    box-shadow: 0 0 0 0.5rem rgba(189, 214, 249, 0.5);
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #747474;
}
.nav-bar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.nav-link{
    color:#212529 ;
}
.user-cart{
    justify-content: flex-end;
    padding: 0 2rem;
    align-items: center;
}
.user-cart ul li {
    font-size: 2.2rem;
}
.user-cart ul li i {
   padding: .6rem;
}
/* *********** */
/* HOME SECTION */
/* *********** */
.home{
    background-image: url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main{
    margin-top: 3rem;
    padding-top: 3rem;
}
.organic {
    color: #6bb252;
    font-size: 8rem;
    font-weight: bold;
}
.home-h2{
    font-size: 7.4rem;
    font-weight: 500;
    line-height: 8rem;
    letter-spacing: -0.04em;
    margin-bottom: 3rem;
}
.flued{
    font-weight: bold;
}
.home-p {
    color: #747474;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.btn{
    margin-top: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1.8rem 2.2rem;
    border-radius: 3rem;
}
.btn-primary{
    color: #fff;
  background-color: #6bb252;
  transition: all 0.3s;
}
.btn-primary:hover{
  background-color: #f7a422;
}
.btn-dark{
    color: #fff;
    background-color: #212529;
    transition: all 0.3s;
}
.btn-dark:hover{
    background-color: #4d5154;
}
.home-p2{
    font-size: 4.2rem;
    font-weight: bold;
}
.home-p3{
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0 1rem;
    text-transform:uppercase ;
}
.card{
    padding: 2.2rem;
    color: #fff;
}
.green-card{
    background-color: #6bb252;
}
.olive-card{
    background-color: #364127;
}
.orange-card{
    background-color: #f95f09;
}
.card i{
    font-size: 4.2rem;
}
.card-body h5 {
    font-size: 2rem;
    margin-bottom: .6rem;
}
.card-text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 1.2rem;
}
/* *********** */
/* CETAGORY SECTION */
/* *********** */
.cetagory{
    padding: 4rem 0;
}
.section-header{
    justify-content: space-between;
    margin-bottom: 4rem;
}
.section-title{
    color: #212529;
    font-size: 3.2rem;
    line-height: 3rem;
}
.cetagory-title {
    color: #212529;
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 1.6rem;
}
/* *********** */
/* PRODUCT SECTION */
/* *********** */
.product{
    padding: 3rem;
}
.product-item figure{
  margin-bottom: 1rem;
}
.product-item{
    position: relative;
    background-color: #ffffff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1.2rem;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-out, margin 0.3s ease-out;
}
.product-item:hover{
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.08);
}
.product-detail{
    flex-direction: column;
}
.product-title {
    color: #212529;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}
.rating-box{
    margin-bottom: 1.6rem;
}
.rating {
    color: #f7a422;
    font-size: 1.2rem;
}
.rating i {
    width: 1.8rem;
}
.rating-number {
    font-size: 1.5rem;
    color: #4d5154;
}
del {
    font-size: 1.5rem;
    color: #6c757d;
}
.main-price {
    font-size: 1.6rem;
    color: #212529;
    font-weight: 700 ;
}
.discount {
    border: 1px solid #adb5bd;
    color: #21252980;
    padding: .5rem;
    font-size: 1.3rem;
} 
.btn-area{
    display: none;
    background: #ffffff;
    position: absolute;
    border-radius: 1.2rem;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: -4rem;
    box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.08);
    padding: 0rem 1rem 1rem 1rem ;
    transition: box-shadow 0.3s ease-out;
}
.product-item:hover .btn-area{
    display: block;
}
.quantity{
    background-color: #fff;
    color: #747474;
    border: 1px solid #f7f7f7;
    border-color: #adb5bd;
    padding: 0.9rem;
    border-radius: .9rem;
}
.cart-btn-area{
    justify-content: center;
    align-items: center;
    background-color: #6bb252;
    border-radius: .6rem;
    transition: all .3s;
}
.cart-btn-area:hover{
    background-color: #f7a422;
}
.cart-btn{
    color: #fff;
    font-size: 1.2rem;
}
.heart-btn {
    color: #212529;
}
.heart-btn-area{
    justify-content: center;
    align-items: center;
    border: 1px solid #212529;
    border-radius: .6rem;
    font-size: 1.4rem;
    background-color: transparent;
    transition: all .3s;
}
.heart-btn-area:hover{
  background-color: #212529;
}
.heart-btn-area:hover .heart-btn {
  color: #f7f7f7;
}
/* *********** */
/* SHOP-NOW SECTION */
/* *********** */
.shop-now{
    padding: 4rem 0;
}
.banner-wrapper{
    display: flex;
    gap: 3rem;
    height: 45rem;
}
.left-banner{
    flex: 0 0 60%;
    background: url(../images/banner-ad-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    position: relative;
}
.right-banner {
  flex: 0 0 40%; 
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.banner-content {
    position: relative;
    top: 35%;
    left: 4rem;
    display: inline-block;
}
.banner-title {
    color: #f7f7f7;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.content-wrapper p{
    color: #f7f7f7;
    font-size: 1.5rem;
    margin-bottom: 2.8rem;
}
.shop-link{
    position: relative;
    color: #f7f7f7;
    text-transform:uppercase ;
    font-weight: 700;
    font-size: 1.4rem;
    transition: all .5s;
}
.shop-link::before,.shop-link::after {
    position: absolute;
    content: '';
    background-color: #f8f8f833;
    width: 100%;
    top: 2rem;
    left: 0;
    bottom: 0;
    height: 2px;
    transition: 0.3s ease;
}
.shop-link:hover::after{
    background-color: #f7f7f7;
}
.right-top,
.right-bottom{
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
}
.right-top{
    background: url(../images/banner-ad-2.jpg);
}
.right-bottom{
    background: url(../images/banner-ad-3.jpg);
}
/* *********** */
/* FEATURED SECTION */
/* *********** */
.featured{
    padding: 4rem 0;
}
/* *********** */
/* CONATCT SECTION */
/* *********** */
.contact{
    padding: 4rem 0;
}
.contact-bg{
    background: url(../images/banner-newsletter.jpg),no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding: 5rem 0;
}
.contact-box{
    padding: 1rem;
}
.contact-box .section-title {
    color: #f7f7f7;
    font-size: 4.4rem;
    font-weight: 200;
    line-height: 5rem;
    margin-bottom: 1.8rem;
}
.contact-box p {
   color: #f7f7f7;
   font-size: 1.5rem;
}
.input-area input {
    width: 100%;
    padding: .8rem 1.4rem;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
}
.contact-in{
    margin-bottom: 1.5rem;
}
.sub-btn {
    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #212529;
    padding: 1.4rem;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .2s;
}
.sub-btn:hover {
    background-color: #4d5154;
    border-color: #373b3e;
}